.body {
    background-color: white;
}

.login-body {
    background-color: rgb(244, 244, 244);
    padding: 12px;
}

.logo-text {
    font-size: 42px;
    font-weight: 700;
}

.login-wrap {
    width: 60%;
    border-radius: 5px;
    background-color: white;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    margin: auto;
    /* box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2); */
}

.mini-logo {
    width: 18%;
    cursor: pointer;
}

.mini-title {
    font-size: 42px;
    color: rgb(18, 18, 18);
    font-weight: 600;
}

.form-text {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 200;
    color: black;
}

.submit-button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.submit-link {
    font-size: 28px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #02CAA8;
    padding: 8px 20px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    cursor: pointer;
    transition: all 0.3s;
}

.submit-link:hover {
    background-color: #18b096;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    text-decoration: none;
    color: white;
}

.container {
    padding: 1rem 10rem 10rem;
    font-family: 'Work Sans', sans-serif;
}

.subtitle {
    font-size: 32px;
    color: #2c90ee;
    font-weight: 600;
    text-align: center;
}

.input {
    width: 100%;
    padding: 12px 20px;

    font-family: 'Work Sans', sans-serif;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 18px;
    line-height: 18px;

    background-color: transparent;

    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;

}

.input::placeholder {
    color: color(#575756 a(0.8));
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.input:hover,.input:focus {
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #575756;
    border-radius: 0;
    background-position: 100% center;
}