.body {
    background-color: white;
    font-family: 'Work Sans', sans-serif;
}

.login-body {
    background-color: rgb(244, 244, 244);
    padding: 12px;
}

.logo-text {
    font-size: 42px;
    font-weight: 700;
}

.login-wrap {
    width: 50%;
    border-radius: 5px;
    background-color: white;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    margin: auto;
    /* box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2); */
}

.mini-logo {
    width: 18%;
    cursor: pointer;
    padding-left: 40px;
    padding-top: 40px;
}

.mini-title {
    font-size: 42px;
    color: rgb(18, 18, 18);
    font-weight: 600;
}

.form-text {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 200;
    color: black;
}

.submit-button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.submit-link {
    font-size: 28px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #02CAA8;
    padding: 8px 20px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    cursor: pointer;
    transition: all 0.3s;
}

.submit-link:hover {
    background-color: #18b096;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    text-decoration: none;
    color: white;
}

.container {
    padding: 1rem 10rem 2rem;
    font-family: 'Work Sans', sans-serif;
}

.subtitle {
    font-size: 48px;
    color: #2c90ee;
    font-weight: 600;
    text-align: center;
}

.input {
    width: 65%;
    padding: 12px 15px;
    margin-right: 4%;

    font-family: 'Work Sans', sans-serif;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 18px;
    line-height: 18px;

    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.input::placeholder {
    color: color(#575756 a(0.8));
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.input:hover,.input:focus {
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #575756;
    border-radius: 0;
    background-position: 100% center;
}

.places-container {
    font-family: 'Work Sans', sans-serif;
    display: flex;
    flex-wrap: wrap;
}

.place-header-title {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 40px;
}

.place-card {
    border-radius: 5px;
    background-color: #ffffff;
    color: white;
    width: 300px;
    height: 400px;
    margin: 20px;
}

.place-title {
    position: absolute;
    font-weight: 600;
    font-size: 32px;
    padding: 20px;
    z-index: 1;
}

.place-image {
    border-radius: 5px;
    filter: brightness(70%);
    z-index: 0;
}

.itinerary-button {
    font-size: 18px;
    border-radius: 20px;
    color: white;
    font-weight: 600;
    background-color: #02CAA8;
    padding: 8px 20px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    cursor: pointer;
    transition: all 0.3s;
}

.itinerary-button:hover {
    background-color: #18b096;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    text-decoration: none;
    color: white;
}

.home-button {
    background-color: white;
    color: black;
    float: left;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 50px;
    transition: 0.2s ease;
}

.home-button:hover {
    text-decoration: none;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.dropbtn {
    color: black;
    margin-right: 40px;
    margin-top: 40px;
    font-size: 16px;
    border: none;
    cursor: pointer;

  }
  
  .dropbtn:hover, .dropbtn:focus {
    box-shadow: 0px 8px 16px 0px rgb(60, 130, 24,0.2);
    border-radius: 50%;
  }
  
  .dropdown {
    float: right;
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    margin-top: 1rem;
    display: none;
    position: absolute;
    background-color: #fffefe;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgb(60, 130, 24,0.2);
    right: 0;
    z-index: 1;
    border-radius: 10px;
  }
  
  .dropdown-content a{
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    text-align: left;
    display: block;
  }

  .dropdown-content .name{
    color: rgb(0, 0, 0);
    font-size: 17px;
    padding: 12px 16px;
    text-decoration: none;
    text-align: left;
    display: block;
    border-bottom-color: solid #04AA6D ;
  }

  .icon {
    margin-right: 1rem;
    color:rgba(0, 28, 4, 0.604)
  }

  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  .days {
    display: inline-block;
    width: 25%;
  }
  .days-content {
    display: inline-block;
    font-size: 1.5rem;
  }