<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
        />

        <!-- CSS stylesheets -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/static.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <title>IntelliTrip</title>
    </head>

    <body class="body">
        <img class="mini-logo" src="/mini_logo.png" alt="IntelliTrip" onclick="window.open('/', '_self')">
        <br><br>
        
        <div class="search container">
            <h4 class="subtitle">Where would you like to visit?</h4><br>
            <input class="search input" type="text" placeholder="Search a destination">
        </div>

        <div style="padding: 80px;">

            <h5 class="place-header-title">Recent Trips:</h5>

            {% for trip in currentUser["trips"] %}
            
            {% endfor %}

            <div class="places-container">
                <div class="place-card">
                    <h6 class="place-title">Greece</h6>
                    <img class="place-image" src="https://source.unsplash.com/300x300/?greece">
                    <br><br>
                    <div style="text-align: center;">
                        <a class="itinerary-button">View Itinerary</a>
                    </div>
                    
                </div>
                <div class="place-card">
                    <h6 class="place-title">Rome</h6>
                    <img class="place-image" src="https://source.unsplash.com/300x300/?rome">
                    <br><br>
                    <div style="text-align: center;">
                        <a class="itinerary-button">View Itinerary</a>
                    </div>
                </div>
                <div class="place-card">
                    <h6 class="place-title">London</h6>
                    <img class="place-image" src="https://source.unsplash.com/300x300/?london">
                    <br><br>
                    <div style="text-align: center;">
                        <a class="itinerary-button">View Itinerary</a>
                    </div>
                </div>
            </div>

            <h5 class="place-header-title">Top Destinations:</h5>
            <div class="places-container">
                <div class="place-card">
                    <h6 class="place-title">Greece</h6>
                    <img class="place-image" src="https://source.unsplash.com/300x300/?greece">
                    <br><br>
                    <div style="text-align: center;">
                        <a class="itinerary-button">View Itinerary</a>
                    </div>
                </div>
                <div class="place-card">
                    <h6 class="place-title">Rome</h6>
                    <img class="place-image" src="https://source.unsplash.com/300x300/?rome">
                    <br><br>
                    <div style="text-align: center;">
                        <a class="itinerary-button">View Itinerary</a>
                    </div>
                </div>
                <div class="place-card">
                    <h6 class="place-title">London</h6>
                    <img class="place-image" src="https://source.unsplash.com/300x300/?london">
                    <br><br>
                    <div style="text-align: center;">
                        <a class="itinerary-button">View Itinerary</a>
                    </div>
                </div>
                <div class="place-card">
                    <h6 class="place-title">Bahamas</h6>
                    <img class="place-image" src="https://source.unsplash.com/300x300/?bahamas">
                    <br><br>
                    <div style="text-align: center;">
                        <a class="itinerary-button">View Itinerary</a>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
